<div class="search-section">
  <input *ngIf="isSearchFreeText" placeholder="Search Text" value="" id="search-query">
  <input *ngIf="!isSearchFreeText" placeholder="Search Country" value="" id="search-country">&nbsp;
  <a class="table-button" (click)="search()">Search</a>
  <input type="radio" id="search-type-text" name="search-type" value="{{SEARCH_TEXT}}" checked (click)="changeSearchType()"/> Search Text
  &nbsp;&nbsp;&nbsp;
  <input type="radio" id="search-type-country" name="search-type" value="{{SEARCH_COUNTRY}}" (click)="changeSearchType()"/> Country

</div>
<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row"><a class="table-button" routerLink="/patient/{{row.id}}">Edit</a></mat-cell>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
    </ng-container>

    <!-- Contact Number Column -->
    <ng-container matColumnDef="contactNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.contactNumber}}</mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.active ? 'Active' : 'Inactive'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataLength"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 30, 50]">
  </mat-paginator>
</div>
